.fundal {
    background-image: url('food.png');
}

.hometitle {

    text-align: center;
    font-size: 90px;
    text-transform: uppercase;
    width: 500px;
    border-radius: 50px;
    border-top: 10px solid;
    border-bottom: 10px solid;

}

.space {
    width: 70px;
    height: auto;
    display: inline-block;
}

.butoane {
    text-align: center;
    font-size: 50px;
    color: #52202093;
    border-radius: 50px;
    width: 500px;
    height: 80px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    border-bottom: 5px solid;
}