.fundal {
    background-image: url('food.jpg');
}

.hometitle {

    color: #abc7a3;
    background-color: rgb(201, 136, 89);
    text-align: center;
    font-size: 90px;
    text-transform: uppercase;
    width: 500px;
    border-radius: 50px;
    border-top: 10px solid;
    border-bottom: 10px solid;
}

.space {
    width: 70px;
    height: auto;
    display: inline-block;
}

.butoane {
    text-align: center;
    font-size: 50px;
    color: #abc7a3;
    background-color: rgb(201, 136, 89);
    border-radius: 50px;
    width: 500px;
    height: 70px;
    border-bottom: 10px solid;
}